<tr>
  <h2>hi</h2>
  <th scope="row">{{id}}</th>
  <td>{{id}}</td>
  <td data="date">{{date}}</td>
  <td data="trigger">{{trigger}}</td>
  <td data="treatment_name">{{treatment_name}}</td>
  <td data="treatment_dose">{{treatment_dose}}</td>
  <td data="acute_name">{{acute_name}}</td>
  <td data="acute_dose">{{acute_dose}}</td>
  <td data="temperature">{{temperature}}</td>
  <td data="precipitation">{{precipitation}}</td>
  <td data="humidity">{{humidity}}</td>
</tr>
